.navbar {
  justify-content: space-between;
}

span {
  padding-right: 1rem;
}

#title {
  float: left;
  left: 0;
  right: 0;
  color: #FFF;
  font-family: "lato", sans-serif;
  font-weight: 300;
  font-size: 16px;
  padding-left: 10px;
}

#title span {
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

span a {
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-family: "lato", sans-serif;
  font-weight: 300;
  font-size: 12px;
  letter-spacing: 10px;
}

span a:hover {
  background-color: #111111;
}
