<!--<div id="menu">
  <ul>
    <li><a href="#signIn">SignIn</a></li>
    <li><a href="#about">About</a></li>
    <li><a href="#events">Events</a></li>
    <li><a href="#home">Home</a></li>
    <li id="title"><a href="#home">Coding Battles</a></li>
  </ul>
</div> -->

<mat-toolbar color="primary" class="navbar">
  <span><a id="title" href="#home">Coding Battles</a></span>
  <div>
    <span><a href="#home">Home</a></span>
    <span><a href="#about">About</a></span>
    <span><a href="#signIn">SignIn</a></span>
  </div>
</mat-toolbar>
