
<div>
  <mat-toolbar style="background: #00555a" color="primary">
    <div fxShow="true" fxHide.gt-sm="true">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <a mat-button class="companyName" routerLink="/">
      <span>Coding Battles</span>
    </a>
    <span class="example-spacer"></span>
    <div fxShow="true" fxHide.lt-md="true">
      <a mat-button href="#">About</a>
      <a *ngIf="!islogged" mat-button routerLink="/login">SignIn</a>
      <a *ngIf="islogged" mat-button>Competitions</a>
      <a mat-button routerLink="/leaderboard" *ngIf="islogged">Leaderboard</a>
      <a mat-button *ngIf="islogged">{{username}}</a>
    </div>

  </mat-toolbar>

  <!-- <mat-sidenav-container fxFlexFill> -->
    <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over"  opened="false" fxHide.gt-sm="true">
      <div fxLayout="column">
        <a mat-button href="#">About</a>
        <a *ngIf="!islogged" mat-button routerLink="/login">SignIn</a>
        <a *ngIf="islogged" mat-button>Competitions</a>
        <a mat-button routerLink="/login" *ngIf="islogged">Leaderboard</a>
        <a mat-button *ngIf="islogged">{{username}}</a>
      </div>
    </mat-sidenav>
  <!-- </mat-sidenav-container> -->

</div>


<router-outlet></router-outlet>
