/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files
 Previous color: #333333*/
html {
  height: 100%;
  background: white;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: inherit;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
