<div class="container" 
    fxLayout 
    fxLayoutAlign="center" 
    fxLayout="row"
    fxLayout.xs="column"
    fxLayoutGap="10px"
    fxLayoutGap.xs="0">
    <div fxFlex="50">
      <form class="box">
        <h2>Log In</h2>
        <div fxLayout fxLayout="column">
          <div>
            <i class="far fa-envelope-open"></i>
            <input matInput class="form-control" type="email" placeholder="Email..." required [(ngModel)]="email" name="email">
          </div>
          <div>
            <i class="fas fa-lock"></i>
            <input matInput class="form-control" type="password" placeholder="Password..." required [(ngModel)]="password" name="password">
          </div>
          <input value="Login" class="btn" type="submit" (click)="login()" >
          <a id="notAccount" routerLink="/signup">Don't Have an Account?</a>
          <p style="color: red;"> {{ error }} </p>
        </div>
      </form>
    </div>

  </div>
